/* Custom Scrollbar */
body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: #0a0d14;
}

body::-webkit-scrollbar-thumb {
  background: #1e283c;
  border-radius: 4px;
}

body::-webkit-scrollbar-thumb:hover {
  background: #00d294;
}
